<%= form_with model: @profile do |f| %>
  <div> 
    <%= f.label :username %><br/> 
    <%= f.text_field :name %>
    <% @profile.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div> 
    <%= f.label :DOB %><br/> 
    <%= f.date_field :dob %>
    <% @profile.errors.full_messages_for(:dob).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :Address %><br/> 
    <%= f.text_area :address %> 
    <% @profile.errors.full_messages_for(:address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :image %></br>
    <%= f.file_field :image %>
    <% @profile.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <p>
    <%= f.submit %> 
  </p>
<% end %>